@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #202936;
  background-image: url("../app/assets/bgasset.png");
  background-position: right;
  background-repeat: repeat-y;
}
.headerLink {
  font-family: var(--font-alegreya-sc), serif;
}
.navbtn {
  display: inline-flex;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 2px solid #c09028;
  background: linear-gradient(270deg, #5a4413 0%, #c09028 49%, #5a4413 100%);
  color: white;
}
.navbtn:hover {
  box-shadow: 0px 0px 65.52px 0px #b48725, 0px 0px 18.72px 0px #b48725,
    0px 0px 9.36px 0px #b48725;
}

.valueCardLocked {
  border-radius: 10px;
  border: 4px solid #f9e998;
  background: linear-gradient(180deg, #c08f28 0%, #dbb95b 100%);
  width: 382px;
  height: 125px;
}

.heading {
  color: #fff;
  font-family: "Alegreya SC";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.amount {
  color: #000;
  font-family: "Poppins";
  font-size: 32.667px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.cointDetails {
  border-radius: 10px;
  border: 4px solid #f9e998;
  background: linear-gradient(90deg, #c08f28 0%, #dbb95b 100%);
  overflow: hidden;
}
.price {
  border-radius: 30px 0px 0px 30px;
  background: linear-gradient(90deg, #c1922b 0%, #f9e99800 100%);
  width: 349px;
  height: 112px;
}
.price2 {
  width: 224px;
  height: 362px;
  transform: rotate(90deg);
  border-radius: 30px 0px 0px 30px;
  background: linear-gradient(90deg, #c1922b 0%, rgba(249, 233, 152, 0) 100%);
}

.ellipse1 {
  filter: blur(250px);
}

.sidebar {
  width: 260px;
  background: linear-gradient(270deg, #202936 0%, #5c769c 309.04%);
}
.sidebtn {
  display: flex;
  width: 200px;
  padding: 10px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid #c09028;
  white-space: nowrap;
}

.sidebtn:hover {
  background: rgba(249, 233, 152, 0.1);
}

.sidelink {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background-color: #242f3e;
}
